<template name="careerJobList">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title" style="text-align: center;">Vacancies</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Vessel</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2016-Nov-11</td>
                    <td>2016-Dec-11</td>
                    <td>Sous Chef</td>
                    <td>Galley</td>
                    <td>First Elizabeth</td>
                    <td><a class="btn btn-primary btn-xs" href="{{pathFor route='cjd'}}" role="button">View Details</a></td>
                </tr>
                <tr>
                    <td>2016-Oct-24</td>
                    <td>2016-Nov-24</td>
                    <td>Engine Repairman</td>
                    <td>Deck and Engine</td>
                    <td>Excellence Rhone</td>
                    <td><a class="btn btn-primary btn-xs" href="{{pathFor route='cjd'}}" role="button">View Details</a></td>
                </tr>
                <tr>
                    <td>2016-Nov-02</td>
                    <td>2016-Dec-02</td>
                    <td>Laundryman</td>
                    <td>Hotel</td>
                    <td>Delta Queen</td>
                    <td><a class="btn btn-primary btn-xs" href="{{pathFor route='cjd'}}" role="button">View Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="careerJobDetails">
    <h3>Sous Chef</h3>
    <h4>Qualifications</h4>
    <ul>
        <li>must have 2 years or more experience as SOUS CHEF in luxury cruise ships</li>
        <li>not more than 47 years old</li>
        <li>no visible tattoo</li>
        <li>physically/medically fit</li>
    </ul>

    <a class="btn btn-primary" href="{{pathFor route='c'}}" role="button">Apply</a>
</template>