<template name="careerJobList">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title" style="text-align: center;">Vacancies</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Vessel</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td><a class="btn btn-primary btn-xs" href="{{pathFor route='cjd'}}" role="button">View Details</a></td>
                </tr>
                <tr>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td><a class="btn btn-primary btn-xs" href="{{pathFor route='cjd'}}" role="button">View Details</a></td>
                </tr>
                <tr>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td>Hello</td>
                    <td><a class="btn btn-primary btn-xs" href="{{pathFor route='cjd'}}" role="button">View Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="careerJobDetails">
    <table>
        <tr>
            <td>Chef</td>
        </tr>
        <tr>
            <td>Three</td>
            <td>Four</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{pathFor route='c'}}" role="button">Apply</a>
</template>