
<template name="insertBookForm">
    {{> quickForm collection="Books" id="insertBookForm" type="insert"}}
</template>

<template name="careerAppForm">
    <div class="well">
        {{> quickForm
                collection="BasicInfo"
                template="bootstrap3-horizontal"
                label-class="col-sm-2"
                input-col-class="col-sm-10"

                id="SubmitApplicantResume"
        }}
    </div>
</template>

<template name="careerForm">
        {{#autoForm id="careerForm" type="normal" collection="BasicInfo"}}
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{> afQuickField name="controlNo" disabled="true" value=agControlNo}}
                    {{> afQuickField name="jobPositionApplied" options=jobPositionOptions}}
                    {{> afQuickField name="dateApplied" disabled="true" value=today}}
                    {{> afQuickField name="lastName"}}
                    {{> afQuickField name="firstName"}}
                    {{> afQuickField name="middleName"}}
                    {{> afQuickField name="referral" options=referralOptions}}
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </div>
                <div class="panel-heading">
                    <h1 class="panel-title"><strong>Personal Background</strong></h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="age" options=ageOptions}}
                    {{> afQuickField name="dateOfBirth"}}
                    {{> afQuickField name="civilStatus" options=civilStatusOptions}}
                    {{> afQuickField name="height"}}
                    {{> afQuickField name="weight"}}
                    {{> afQuickField name="gender" options=genderOptions noselect=true type="select-radio-inline"}}
                    {{> afQuickField name="email"}}
                    {{> afQuickField name="cityAddress"}}
                    {{> afQuickField name="zipCode"}}
                    {{> afQuickField name="telNo"}}
                    {{> afQuickField name="sssNo"}}
                    {{> afQuickField name="pagibig"}}
                    {{> afQuickField name="philhealth"}}
                    {{> afQuickField name="nbi"}}
                    {{> afQuickField name="dateIssued"}}
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Educational Background (Optional)</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name of School/Institution</th>
                                <th>Course Taken</th>
                                <th>Period</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                                <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Past Employment</h1>
                    <small>Shipboard Experience (please start with most recent employment) Maximum of 10</small>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Vessel</th>
                            <th>Type</th>
                            <th>Position</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Total Months</th>
                            <th>Agency</th>
                            <th>GRT/HP</th>
                            <th>Last Wages</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <small>Hotel/Land Based Experience (please start with most recent employment) Maximum of 10</small>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Hotel/Employer</th>
                            <th>Nature of Business</th>
                            <th>Position</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Total Months</th>
                            <th>Reason for leaving</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Licenses</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Number</th>
                            <th>Rank</th>
                            <th>Date Issued</th>
                            <th>Valid Until</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Visa Information</h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="embassy" options="allowed"}}
                    {{> afQuickField name="dateOfVisaApplication" }}
                    {{> afQuickField name="countryPetitioned" options="allowed"}}
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Training Certificates</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Course Attended</th>
                            <th>School/Institution</th>
                            <th>Certificate No.</th>
                            <th>Date Issued</th>
                            <th>Valid Until</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                            <td><div style="height: 34px;">{{> afQuickField name="placeholder" label=false}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Family Information</h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="spouse"}}
                    {{> afQuickField name="child"}}
                    {{> afQuickField name="father"}}
                    {{> afQuickField name="mother"}}
                    {{> afQuickField name="beneficiary"}}
                    {{> afQuickField name="emergencyContactPerson"}}

                    <!--<button class="btn btn-primary">Add more visa</button>-->
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Medical History</h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="bRepatriated" options="allowed" noselect=true type="select-radio-inline"}}
                    {{#if afFieldValueIs name="bRepatriated" value="yes"}}
                        {{> afQuickField name="repatriated"}}
                    {{/if}}
                    {{> afQuickField name="bSurgery" options="allowed" noselect=true type="select-radio-inline"}}
                    {{#if afFieldValueIs name="bSurgery" value="yes"}}
                        {{> afQuickField name="surgery"}}
                    {{/if}}

                    {{> afQuickField name="bIllness" options="allowed" noselect=true type="select-radio-inline"}}
                    {{#if afFieldValueIs name="bIllness" value="yes"}}
                        {{> afQuickField name="illness" options="allowed" noselect=true type="select-checkbox-inline"}}
                        {{#if afFieldValueContains name="illness" value="Others"}}
                            {{> afQuickField name="strIllness"}}
                        {{/if}}
                    {{/if}}

                    {{> afQuickField name="bDrugProblem" options="allowed" noselect=true type="select-radio-inline"}}

                    {{> afQuickField name="bAlcoholProblem" options="allowed" noselect=true type="select-radio-inline"}}
                    {{#if afFieldValueIs name="bAlcoholProblem" value="yes"}}
                        {{> afQuickField name="alcoholProblem"}}
                    {{/if}}
                    {{> afQuickField name="bSmoke" options="allowed" noselect=true type="select-radio-inline"}}
                    {{#if afFieldValueIs name="bSmoke" value="yes"}}
                        {{> afQuickField name="smoke"}}
                    {{/if}}
                    {{> afQuickField name="bSkinAllergies" options="allowed" noselect=true type="select-radio-inline"}}

                    {{> afQuickField name="bSkinDisease" options="allowed" noselect=true type="select-radio-inline"}}

                    {{> afQuickField name="bTattoo" options="allowed" noselect=true type="select-radio-inline"}}
                    {{#if afFieldValueIs name="bTattoo" value="yes"}}
                        {{> afQuickField name="tattoo"}}
                    {{/if}}
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Character References</h1>
                    <small>List down 3 persons as character references (non-related)</small>
                </div>
                {{> afQuickField name="characterRef"}}

                <div style="text-align: center;">
                    <a class="btn btn-primary" href="{{pathFor route='home'}}" role="button">Submit</a>
                </div>
            </div>
        {{/autoForm}}

</template>
