<template name="basicInfo">

    <form class="form-inline">

         <!--Control No.-->
        <div class="form-group">
            <label for="controlNo">Control No.: SS16569023</label>
        </div>

        <!--Job Position Applied-->
        <label>Position Applied: </label>
        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selItem"><a href="#">Chef</a></li>
                <li class="selItem"><a href="#">Engineer</a></li>
                <li class="selItem"><a href="#">Waiter</a></li>
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
            </ul>
        </div>

        <!--Date Applied-->
        <div class="form-group">
            <label for="lblDateApplied">Date</label>
            <div class="input-group dateApplied">
                <input name="idInput" id="idInput" class="form-control" type="text"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


        <!--Last Name-->
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
        </div>

        <!-- First Name -->
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
        </div>

        <!--Middle Name-->
        <div class="form-group">
            <label for="middleName" class="col-sm-2 control-label">Middle Name</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="middleName" placeholder="Middle Name">
            </div>
        </div>

        <!--How did you know about us-->
        <label>How did you know about us? </label>
        <div class="btn-group">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{posApplied}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selItem2"><a href="#">Advertisement/Newspaper</a></li>
                <li class="selItem2"><a href="#">Facebook</a></li>
                <li class="selItem2"><a href="#">Word of Mouth</a></li>
                <li class="selItem2"><a href="#">Referred by a friend</a></li>
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
            </ul>
        </div>

    </form>

</template>

<template name="insertBookForm">
    {{> quickForm collection="Books" id="insertBookForm" type="insert"}}
</template>

<template name="careerAppForm">
    <div class="well">
        {{> quickForm
                collection="BasicInfo"
                template="bootstrap3-horizontal"
                label-class="col-sm-2"
                input-col-class="col-sm-10"

                id="SubmitApplicantResume"
        }}
    </div>
</template>

<template name="cA">

        {{#autoForm id="afCareer" type=formType collection="BasicInfo"}}
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{> afQuickField name="controlNo"}}
                    {{> afQuickField name="jobPositionApplied" options=listOfJobPositions}}
                    {{> afQuickField name="dateApplied"}}
                    {{> afQuickField name="lastName"}}
                    {{> afQuickField name="firstName"}}
                    {{> afQuickField name="middleName"}}
                    {{> afQuickField name="referral"}}
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </div>
                <div class="panel-heading">
                    <h1 class="panel-title"><strong>Personal Background</strong></h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="age"}}
                    {{> afQuickField name="dateOfBirth"}}
                    {{> afQuickField name="civilStatus"}}
                    {{> afQuickField name="height"}}
                    {{> afQuickField name="weight"}}
                    {{> afQuickField name="gender"}}
                    {{> afQuickField name="email"}}
                    {{> afQuickField name="cityAddress"}}
                    {{> afQuickField name="zipCode"}}
                    {{> afQuickField name="telNo"}}
                    {{> afQuickField name="sssNo"}}
                    {{> afQuickField name="pagibig"}}
                    {{> afQuickField name="philhealth"}}
                    {{> afQuickField name="nbi"}}
                    {{> afQuickField name="dateIssued"}}
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Educational Background (Optional)</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name of School/Institution</th>
                                <th>Course Taken</th>
                                <th>Period</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>High School</td>
                                <td>BS Computer Science</td>
                                <td>2004-2006</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>College</td>
                                <td>BS Computer Science</td>
                                <td>2004-2006</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Graduate</td>
                                <td>BS Computer Science</td>
                                <td>2004-2006</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Past Employment</h1>
                    <small>Shipboard Experience (please start with most recent employment) Maximum of 10</small>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Vessel</th>
                            <th>Type</th>
                            <th>Position</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Total Months</th>
                            <th>Agency</th>
                            <th>GRT/HP</th>
                            <th>Last Wages</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <small>Hotel/Land Based Experience (please start with most recent employment) Maximum of 10</small>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Hotel/Employer</th>
                            <th>Nature of Business</th>
                            <th>Position</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Total Months</th>
                            <th>Reason for leaving</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Licenses</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Number</th>
                            <th>Rank</th>
                            <th>Date Issued</th>
                            <th>Valid Until</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Visa Information</h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="embassy"}}
                    {{> afQuickField name="dateOfVisaApplication"}}
                    {{> afQuickField name="countryPetitioned"}}
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Training Certificates</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Course Attended</th>
                            <th>School/Institution</th>
                            <th>MTC Certificate No.</th>
                            <th>Date Issued</th>
                            <th>Valid Until</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                            <td>Hello</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-heading">
                    <h1 class="panel-title">Family Information</h1>
                </div>
                <div class="panel-body">
                    {{> afQuickField name="spouseName"}}
                    {{> afQuickField name="spouseDOB"}}
                    {{> afQuickField name="spouseAddress"}}
                    {{> afQuickField name="spouseContactNo"}}

                    <!--<button class="btn btn-primary">Add more visa</button>-->
                </div>


            </div>
        {{/autoForm}}

</template>
