<template name="recJobDetails">

    <table class="table">
        <tr>
            <td>Job Position</td>
            <td>Sous Chef</td>
        </tr>
        <tr>
            <td>Remaining Slots</td>
            <td>5</td>
        </tr>
        <tr>
            <td><h4>Qualifications</h4></td>
            <td>
                <ul>
                    <li>must have 2 years or more experience as SOUS CHEF in luxury cruise ships</li>
                    <li>not more than 47 years old</li>
                    <li>no visible tattoo</li>
                    <li>physically/medically fit</li>
                </ul>
            </td>
        </tr>
    </table>


</template>