<template name="recPostNewJob">
    {{#autoForm id="recPostNewJobForm" type="normal" collection="JobPosition"}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><strong>New Job Position</strong></h1>
            </div>
            <div class="panel-body">
                {{> afQuickField name="vesselType"}}
                {{> afQuickField name="department"}}
                {{> afQuickField name="jobTitle"}}
                {{> afQuickField name="nCrewNeeded"}}
                {{> afQuickField name="openDate"}}
                {{> afQuickField name="closeDate"}}
                {{> afQuickField name="qualifications"}}
            </div>

            <div style="text-align: center;">
                <a class="btn btn-primary" href="{{pathFor route='recPNJ'}}" role="button">Post</a>
            </div>
        </div>
    {{/autoForm}}

</template>